header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    text-decoration: underline;
  }
header a:link {
    text-decoration: none;
}
body {
    background-color: white;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
}
img {
    width: 20px;
}
main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    position: relative;
}
.p-border {
    border: 1px solid rgb(150, 150, 150);
}
a:link {
    color: rgb(0, 140, 255);
}
.code-block {
    border: 1px solid rgb(150, 150, 150);
}

.button {
    margin-top: 80px;
    margin-bottom: 80px;
    border: 2px solid rgb(75, 75, 196);
    background-color: transparent;
    padding: 5px 5px 5px 5px;
    border-radius: 20px;
    color: rgb(75, 75, 196);
    font-weight:bold;
}
.button:focus, .button:hover {
    cursor: pointer;
}
.gray {
    cursor: default;
    border: 2px solid darkgray;
    color: darkgray;
}
.sidebar {
    margin: 30px;
}
.sidebar-list {
    list-style: none;
}
.sidebar  div  h4 {
    font-size: 30px;
    font-style: italic;
    margin-bottom: 15px;
}
.about {
    background-color: rgb(235, 232, 232);
}
footer {
    background-color: rgb(243, 243, 243);
    color:rgb(145, 143, 143);
    text-align: center;
    line-height: 30px;
    width:100%;
}